* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url(pexels-photo-2249961.webp) no-repeat;
    background-position: center;
    background-size: cover;
}
.title,.introduction {
    max-width: 480px;
}
.sketch-zone {
    display:flex;
    flex-wrap:wrap;
    height:480px;
    width:480px;
    border:10px solid grey;
}
.grid-div {
    flex:auto;
    background-color: white;

}