@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Bellota',sans-serif;
}
body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url() no-repeat;
    background-position: center;
    background-size: cover;
}
.title,.selections{
    max-width: 480px;
}
.title {
margin:20px;
}
.sketch-zone {
    display:flex;
    flex-wrap:wrap;
    height:480px;
    width:480px;
    border:10px solid grey;
    
}
.grid-div {
    flex:auto;
    background-color: white;

}