@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Bellota',sans-serif;
}
body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#ab20fd;
}
.content-container {
    display: flex;
    justify-content: space-around;
    gap: 48px;
    margin:24px;
}
.sketch-zone {
    display:flex;
    flex-wrap:wrap;
    height:480px;
    width:480px;
    border:10px solid grey;   
}
.selections {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.grid-div {
    flex:auto;
    background-color: white;
    z-index:2;
}
button {
    background-color: #7d12ff;
    color:white;
    font-size: 15px;
    font-weight: 400;
    padding:10px;
    border-radius: 20px;
}